
.global{  
  background-color: #202427;
  text-align: center;
  color: #FFFFFF;
}


.table{
  table-layout: fixed;
  width: 90%;
  margin-left: 5%; 
  margin-right: 5%;
}


@media (max-width: 1081px) {
  .main-grid { 
    grid-template-columns: auto; 
    margin-left: 10%;
    margin-right: 10%;
  }
  .numbers-grid{
    grid-template-columns: auto;
  }

  .singleGridSettings1 {
    background-color: #3d444a;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }
  .singleGridSettings2{
    background-color: #3d444a;
    border-radius: 25px;
  
  }
  
  .singleGridSettings3{
    background-color: #3d444a;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }
  
  .singleGridSettings4{
    background-color: #3d444a;
    border-radius: 25px;
  }


}

@media (min-width: 1082px) {
  .main-grid { 
    grid-template-columns: auto auto auto; 
    margin-left: 10%;
    margin-right: 10%;
  }
  .numbers-grid{
    grid-template-columns: auto auto auto auto;
  }

  .singleGridSettings1 {
    background-color: #3d444a;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }
  .singleGridSettings2{
    background-color: #3d444a;
    border-radius: 25px;
    grid-column: 1 / span 3;
  
  }
  
  .singleGridSettings3{
    background-color: #3d444a;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    grid-column: 1 / span 2;

  }
  
  .singleGridSettings4{
    background-color: #3d444a;
    border-radius: 25px;
    grid-column: 2 / span 2;
  }

  .singleGridSettings5{
    background-color: #3d444a;
    border-radius: 25px;
  }

  .listcases{
    max-width: 80%;
  }
}

.grid-general{
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

