@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .main-grid { 
      grid-template-columns: auto; 
      margin-left: 10%;
      margin-right: 10%;
    }
    .numbers-grid{
      grid-template-columns: auto;
    }
  
    .singleGridSettings1 {
      background-color: #3d444a;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px;
    }
    .singleGridSettings2{
      background-color: #3d444a;
      border-radius: 25px;
    
    }
    
    .singleGridSettings3{
      background-color: #3d444a;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px;
    }
    
    .singleGridSettings4{
      background-color: #3d444a;
      border-radius: 25px;
    }
}
